.App {
  text-align: left;
  background-color: #232741;
  color: white;
}




.App-body {
  background-color: #232741;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.nav-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 100%;
  height: 100%;
  color: white;
}