#containment-field
{
    top: 50%;
}

#toplvlhead{
    position: absolute;
    text-align: center;
    top : 7%;
    left: 43%;
    width: 440px;
    height: 100px;
    text-shadow: -5px 4px 4px black;
    font-size:xx-large;
    /* border: 3px solid #a4ad21; */

    }

    #pie 
    {
        text-shadow: 0px 0px 0px black;
        font-size: x-large;
        position: fixed;
        top : 25%;
        left: 9%;
        width: 440px;
        /* border: 3px solid #00c451; */
    }

    #bar 
    {
        text-shadow: 0px 0px 0px black;
        font-size: x-large;
        position: fixed;
        top : 30%;
        left: 9%;
        width: 440px;
        /* border: 3px solid #00c451; */
    }

    #radar 
    {
        text-shadow: 0px 0px 0px black;
        font-size: x-large;
        position: fixed;
        top : 25%;
        left: 9%;
        width: 440px;
        /* border: 3px solid #00c451; */
    }

    
    #line 
    {
        text-shadow: 0px 0px 0px black;
        position: fixed;
        top : 25%;
        left: 60%;
        width: 440px;
        /* border: 3px solid #00c451; */
    }

    #desc
    {
        font-size: xx-large;
        text-shadow: -5px 4px 4px black;
        position: fixed;
        top : 16%;
        left: 65%;
        width: 340px;
        height: 100px;
        /* border: 1px solid #00c451; */
    }

    #desc1
    {
        font-size: xx-large;
        text-shadow: -5px 4px 4px black;
        position: fixed;
        top : 16.6%;
        left: 15%;
        width: 340px;
        height: 100px;
        /* border: 1px solid #00c451; */
    }

    #weekStats
    {
        top: 80%;
        left: 65%;
        width: 340px;
        height: 100px;
    }
    
    #fontss
    {
        font-size: xx-large;
        text-shadow: -5px 4px 4px black;
        line-height: 0px;
        text-align: center;

    }

    #dropdown
    {
        text-shadow: 0px 0px 0px black;
        font-size: large;
        position: fixed;
        top : 75%;
        left: 15%;
        width: 440px;
        /* border: 3px solid #00c451; */
    }