#navigation{
    grid-area: header;
    padding-left: 100px;
    background-color: black;
    position:fixed;
    width: 100%;
}

#navigation a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 13px 16px;
    position: relative;
    bottom: 8px;
    text-decoration: none;
  }

  #navigation a:hover
  {
    color: #5e9a50;
  }