.header{
    margin:auto;
    width: 75%;
    padding: 15px;
}

#pageTitle{
    font-weight: bold;
    font-size: 50px;
}

#subheader{
    font-weight: bold;
    font-size: 18px;
}

#germKill{
    font-weight: bold;
    font-size: 24px;
}

#deviceStatistics{
    font-weight: bold;
    font-size: 200%
}