#page{
    position: absolute;
    top: 50%;
    left: 35%;
    width: 100px;
    height: 100px;
    margin-top: 0%;
    }

   #page-title{
        width: max-content;
        margin-top: 0;
        margin-left: 60%;
        font-size: x-large;
    }

    #subheader{
        font-size: large;
        margin-top: 0;
        width: max-content;
    }

    .device-list{
        margin-top: 0;
        width: max-content;
        font-size: large;
    }
   