/*#page{
   
        position: fixed;
        text-align: center;
        top : 30%;
        left: 34%;
        width: 440px;
        border: 3px solid #73AD21;
        
    }
*/
   #page-title{
    position: fixed;
    text-align: center;
    top : 7%;
    left: 34%;
    width: 440px;
    border: 3px solid #73AD21;
    font-size:xx-large;
        
    }
/*
    #subheader{
        font-size: large;
        margin-top: 0;
        width: max-content;
    }

    .device-list{
        margin-top: 0;
        width: max-content;
        font-size: large;
    }

    #devID{
        margin-top: 0;
        margin-left: 0%;
        width: max-content;
        font-size: x-large;
    }

    #bat
    {
        margin-top: 0;
        text-align: center;
        margin-left: 300%;
        font-size: x-large;
    }
   
    #frce
    {
        margin-top: 0;
        text-align: center;
        margin-left: 300%;
        font-size: x-large;
    }
    */