#page-title{
 position: fixed;
 text-align: center;
 top : 8%;
 left: 34%;
 width: 440px;
 /* border: 3px solid #21a4ad; */
 font-size:x-large;   
 text-shadow: -5px 4px 4px #000000;
 }

    .device-list{
        position: fixed;
        top : 20%;
        left: 36%;
        width: 530px;
        font-size: large;
        /* border: 3px solid #73AD21; */
        text-shadow: -6px 4px 4px #000000;
    }

    #devID{
        margin-top: 0;
        width: 200px;
        font-size: x-large;
        /* border: 3px solid #ad3621; */
    }

    #prcnt-container
    {
        margin-top: 0;
        width: 200px;
        font-size: x-large;
        /* border: 3px solid #2f21ad; */
    }
   
    #percent
    {
        margin-top: 0;
        margin-left: 100px;;
        width: 200px;
        font-size: x-large;
        /* border: 3px solid #ad217e; */

    }
   
    #containment
    {
        /* border: 3px solid #2198ad; */

    }