#Titletxt{
position: fixed;
text-align: center;
top : 7%;
left: 34%;
width: 440px;
border: 3px solid #73AD21;
font-size:xx-large;
}

/*
#headerText{
    width: max-content;
    font-size: xx-large;
    background-color: lightgray;
    border: solid black 4px;
}
*/
