#Titletxt{
position: absolute;
text-align: center;
top : 100%;
left: 35%;
width: 440px;
text-shadow: -5px 4px 4px black;
font-size:xx-large;
animation: title 2.5s ease-in-out infinite alternate;
}


    
#subtext{
  font-size: large;
  text-align: center;
  position: absolute;
  top: 300%;
  left: 30%;
  color : eggshell;
  text-shadow: -5px 4px 4px black;
  animation: title 2.5s ease-in-out infinite alternate;
}


#login
{
  font-size: large;
  text-align: center;
  position: absolute;
  top: 330%;
  left: 35%;
  color : eggshell;
  width: 400px;
  text-shadow: -5px 4px 4px black;
  animation: title 2.5s ease-in-out infinite alternate;
}

#title
{
  position: absolute;
  font-size: large;
  text-align: center;
  top: 300%;
  left: 50%;
  color : eggshell;
  animation: title 2.5s ease-in-out infinite alternate;
}

/*Note to self, try and get a flickering light anumation to work */
@keyframes title {

    from {
      /*  text-shadow:  0 0 100px #ff1fe9, 0 0 110px #ea00ff; */
      text-shadow:   0 0 10px #fff, 0 0 20px #fff, 0 0 30px #b9b9b9, 0 0 40px #969696, 0 0 50px #6b6b6b, 0 0 60px #7e7d7d, 0 0 70px grey;
    }
  /*  to{
       /* text-shadow: 60 60 350px #ea00ff, 60 60 300px #d400ff; */
     

    
}


  

#headerText{
    width: max-content;
    font-size: xx-large;
    /* background-color: lightgray;
    border: solid black 4px; */
} 


#move
{
  position: absolute;
  top: 400%;
  left: 50%;
  color : eggshell;
}
#glow
{
    text-shadow: -5px 4px 4px black;
    font-size:large;
    animation: title 2.5s ease-in-out infinite alternate;
}

#device
{
  position: absolute;
  top: 500%;
  left: 45%;
  
}

.form-groupa
{
  position: absolute;
  top: 45%;
  left: -10%;
}

.form-groups
{
  position: absolute;
  top: 100%;
  left: -10%;
}




.form-controls
{
  top: 390%;
}

#deviceAdd h3
{
 top: 500%;
 width: 400px;
}