.content{
    position: absolute;
    top: 100%;
    left: 32%;
    width: 460px;
    height: 485px;
    border: 3px solid #a4ad21;
    text-shadow: -6px 4px 4px #000000;
    }

    #pageTitle{
            position: fixed;
            text-align: center;
            top : 7%;
            left: 34%;
            width: 440px;
            height: 100px;
            border: 3px solid #ad2121;
            font-size:xx-large;
        
    }

    #subheader{
        width: 440px;
        border: 3px solid #ad2121;
    }
   

    #deviceStatistics{
        font-size: large;
        margin-top: 0;
        width: max-content;
        margin-left: 150%;
        border: 3px solid #73AD21;
    }

    #title{
        margin-top: 0;
        text-align: center;
        width: 440 px;
        font-size: x-large;
        border: 3px solid #2321ad;
    }

    #stats{
       
        margin-left: 40%;
        width: 440 px;
        font-size: x-large;
        border: 3px solid #ad21ad;
    }

